.scrolling-container {
    width: 90%;
    height: 35vh;
    margin: 0 auto;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }
  
  .scrolling-content {
    display: inline-flex;
    padding: 10px;
  }
  
  .custom-card {
    width: 200px;
    margin-right: 200px;
    flex-shrink: 0;
    overflow: hidden; /* Asegúrate de que el contenido no se desborde */
  }
  
  .custom-card .card {
    height: 100%; /* Asegúrate de que la tarjeta ocupe todo el espacio disponible */
    display: flex;
    flex-direction: column;
  }
  