/* home.css */

.max-h-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px; /* Ajusta esta altura según tus necesidades */
}

.max-h-img img {
  max-height: 100%;
  object-fit: cover; 

}
