/* 
    General Styles
*/
/* Añade esto a tu archivo CSS global */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body {
  /* background-image: url("https://wallpapercave.com/wp/cMfbDRr.jpg"); */
  background-image: url("https://wallpapercave.com/wp/ItmVuT6.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
  color: #feda4a;
}

.star-wars-card {
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px solid #feda4a;
  border-radius: 10px;
  box-shadow: 0 0 20px #feda4a;
}

.star-wars-title {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 0 0 10px #feda4a;
}

.star-wars-footer {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 0 0 10px #feda4a;
}

.star-wars-subtitle {
  color: #5ac5d6;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-shadow: 0 0 10px #91e0ec;

}

.star-wars-text {
  font-size: 1rem;
  line-height: 1.6;
}

.star-wars-link {
  color: #5ac5d6;
  transition: color 0.3s ease;
}

.star-wars-link:hover {
  color: #feda4a;
  text-decoration: none;
}

.star-wars-spinner {
  color: #feda4a;
  width: 3rem;
  height: 3rem;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  margin-top: auto;
  background-color: rgba(0, 0, 0, 0.7);
  border-top: 2px solid #feda4a;
}